ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar1 {
    background-color: green;
}

.navbar2 {
    background-color: black;
}

body {
    margin: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    margin-right: 900px;
}

.navbar2options1 {
    margin-right: 200px;
    margin-left: 50px;
}

.navbar2options2 {
    margin-right: 200px;
}

.navbar2options3 {
    margin-right: 200px;
}

.navbar2options4 {
    margin-right: 200px;
}