<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <ul class="navbar1">
        <li><a class="active" href="#home">CareConnect</a></li>
        <div class="navbar12">
            <li><a href="#news">Login</a></li>
            <li><a href="#contact">Signup</a></li>
            <li><a href="#about">IMAGE</a></li>
        </div>
    </ul>
    <ul class="navbar2">

        <li class="navbar2options1"><a href="#doctor">Doctor</a></li>
        <li class="navbar2options2"><a href="#doctor">Lab</a></li>
        <li class="navbar2options3"><a href="#doctor">Medical treatment</a></li>
        <li class="navbar2options4"><a href="#doctor">Xray</a></li>
    </ul>
    <div>

    </div>


</body>



</div>
</body>


</html>